.card{
    border: 1px solid black;
    background-color: white;
    margin:10px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
}

input{
    padding: 0 50px;
}

p{
    margin-bottom: 05px;
}

.input{
    margin-left: 15px ;
}

button{
    text-align: center;
}

.card button{
    padding:5px 110px;
    margin-bottom: 15px;
    border-radius: 5px;
}
div{
    text-align: start;
}

h3{
    margin: 15px 0 5px 0;
}
#q2 .input{
    max-width: 200px;
}

#q2 input{
    padding: 7px 15px;
}
 
ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

.active button{
    padding: 5px 10px;
    background-color:rgb(3, 124, 255) ;
    color: white;
}

.box{
    height: 150px;
    width: 150px;
    background-color: lightgray;
    position: relative;
    border-radius: 10px;
}

.imgs{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 0 10px 10px 10px;
}

.marks{
    position: absolute;
}

.box p{
    top: 10%;
}